rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function amministratore() {
      return request.auth != null &&
        request.auth.token.email == 'lestufepuntasecca@gmail.com';
    }

    function collaboratorePiscina() {
      return request.auth != null &&
        request.auth.token.email == 'piscina@gestione-sdraio.local';
    }

    match /prenotazioni/{prenotazioneId} {
      allow read: if amministratore() || collaboratorePiscina();
      allow create, delete: if amministratore();
      allow update: if amministratore() ||
        (collaboratorePiscina() &&
          request.resource.data.diff(resource.data).affectedKeys()
            .hasOnly(['pagamenti', 'acconto', 'saldo']));
    }
  }
}
